name: Lint & format check

on:
  pull_request:
    branches:
      - main

jobs:
  main:
    name: Lint & format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - name: Install modules
        run: npm ci
      - name: Eslint
        run: npm run lint
      - name: Prettier
        run: npm run format:check
