# TODO set this up as a status check on PRs so that they can't be merged if it fails
name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  main:
    name: Test
    timeout-minutes: 15
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [16, 18]

    name: Node ${{ matrix.node }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install modules
        run: npm ci
      - name: Run tests
        run: npm run test
